{% extends 'AstonBackBundle::layout.html.twig' %}


{% block title %}
    Liste Post
{% endblock %}    

{% block body %}
    <h1>Liste des articles de {{ app.user.username }} :</h1>
    
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                            <td>#</td>
                            <td>Name</td>
                            
                        </tr>    
                </thead>
                <tbody>
                    {% for cat in categorie %}
                        <tr>
                            <td>{{ cat.id }}</td>
                            <td>{{ cat.name }}</td>
                            
                            <td>
                                <a href="{{ path('aston_back_categorie_update',{id: cat.id}) }}" class="btn btn-sm btn-primary"><i class="fa fa-wrench"></i>&nbsp<span>Edit</span></a>
                                <a href="{{ path('aston_back_categorie_delete',{id: cat.id}) }}" class="btn btn-sm btn-primary"><i class="fa fa-trash-o"></i>&nbsp</i><span>Suppr</span></a>
                            </td>
                        </tr>    
                    {% endfor %}
                </tbody>
            </table
        </div>
    </div>
{% endblock %}    