{% extends 'AstonBackBundle::layout.html.twig' %}


{% block title %}
    Liste Post
{% endblock %}    

{% block body %}
    <h1>Liste des articles :</h1>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                            <td>#</td>
                            <td>Title</td>
                            <td>Teaser</td>
                            <td>Content</td>
                            <td>Date</td>
                            <td>Published</td>
                        </tr>    
                </thead>
                <tbody>
                    {% for post in posts %}
                        <tr>
                            <td>{{ post.id }}</td>
                            <td>{{ post.title }}</td>
                            <td>{{ post.teaser }}</td>
                            <td>{{ post.content }}</td>
                            <td>{{ post.creatDate | date('d/m/Y') }}</td>
                            <th>{{ post.published ? '<i class="fa fa-check"></i>' : '<i class="fa fa-times"></i>' }}</th>
                            <td>
                                <a href="{{ path('aston_back_blog_update',{id: post.id}) }}" class="btn btn-sm btn-primary"><i class="fa fa-wrench"></i>&nbsp<span>Edit</span></a>
                                <a href="{{ path('aston_back_blog_delete',{id: post.id}) }}" class="btn btn-sm btn-primary"><i class="fa fa-times">&nbsp</i><span>Suppr</span></a>
                            </td>
                        </tr>    
                    {% endfor %}
                </tbody>
            </table
        </div>
    </div>
{% endblock %}    